
  <section id="intro" class="clearfix">
      <div class="container d-flex h-100">
        <div class="row justify-content-center align-self-center">
          <div class="col-md-6 intro-info order-md-first order-last">
            <h2>Application for <br> <span>Online Banking System!</span></h2>
            <div>
              <a href="#about" class="btn-get-started scrollto">Get Started</a>
            </div>
          </div>
    
          <div class="col-md-6 intro-img order-md-last order-first">
            <img src="assets/images/dbs3.png" alt=""  class="img-fluid">
          </div>
        </div>
  
      </div>
    </section><!-- #intro -->

  <main id="main">
    <!--==========================
      About Us Section
    ============================-->
    <section id="about">

      <div class="container">
        <div class="row">

          <div class="col-lg-5 col-md-6">
            <div class="about-img">
              <img src="assets/images/bank.jpg" alt="">
            </div>
          </div>

          <div class="col-lg-7 col-md-6">
            <div class="about-content">
              <h2>About Us</h2>
              <h3>A sub heading defining the website.</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              <p>Aut dolor id. Sint aliquam consequatur ex ex labore. Et quis qui dolor nulla dolores neque. Aspernatur consectetur omnis numquam quaerat. Sed fugiat nisi. Officiis veniam molestiae. Et vel ut quidem alias veritatis repudiandae ut fugit. Est ut eligendi aspernatur nulla voluptates veniam iusto vel quisquam. Fugit ut maxime incidunt accusantium totam repellendus eum error. Et repudiandae eum iste qui et ut ab alias.</p>
              <ul>
                <li><i class="ion-android-checkmark-circle"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                <li><i class="ion-android-checkmark-circle"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
                <li><i class="ion-android-checkmark-circle"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </section><!-- #about -->
    <h2 class="text-center">Our Leadership</h2>
    <div class="row">
      <div class="column">
        <div class="card">
          <img class="a1" src="assets/images/unnamed - Copy.jpg" alt="Jane" style="width:100%">
          <div class="container">
            <h2>Sirish Rajuri</h2>
            <p class="title">FrontEnd Developer</p>
            <p>Some text that describes me lorem ipsum ipsum lorem.</p>
            <p>sirish.rajuri.sr@gmail.com</p>
            <p><button class="button">Contact</button></p>
          </div>
        </div>
      </div>
    
      <div class="column">
        <div class="card">
          <img src="assets/images/vishnu.jpg" alt="Mike" style="width:100%">
          <div class="container">
            <h2>Vishnu Vardhan</h2>
            <p class="title">BackEnd Developer</p>
            <p>Some text that describes me lorem ipsum ipsum lorem.</p>
            <p>vishnu@gmail.com</p>
            <p><button class="button">Contact</button></p>
          </div>
        </div>
      </div>
    </div>

  </main>

  <a routerLink="/homepage" class="back-to-top" ><i class="fa fa-chevron-up"></i></a>
